// Colors

$primary:#EC1E24;

$black4: #473D3C;
$black3: #3D3332;
$black2: #2D2727;
$black:  #000;

$white3: #EBEBEB;
$white2: #F4F4F4;
$white:  #FFF;

// Typography
$lato-b: 'Lato-Bold';
$lato-r: 'Lato-Regular';
$lato-l: 'Lato-Light';

$quick-l: 'Quicksand-Light';